<!-- Vote buttons and count display below ======== -->
<div id="votable-pin">
	<%= render 'pins/votable' %>
  <div class="glyphicons-up-down">
    <span class="fa fa-thumbs-o-up fa-2x pin-thumb-up" 
          data-toggle="tooltip" data-placement="bottom" 
          title="click like above to vote"></span>
    <span class="fa fa-thumbs-o-down fa-2x pin-thumb-down" 
          data-toggle="tooltip" data-placement="bottom" 
          title="click dislike above to vote"></span>
  </div>
</div>



            