<% provide(:title, "All users") %>

<div id="primary-content">
	<div class="panel center form audioButton">
		<div class="panel-heading green">
      <div class="panel-title">
        <h3>Youmix.me Subscribers</h3>
      </div>
    </div>
		<div class="panel-body ">
			<table class="table-users">
				<% @users.each do |user| %>
					<div class="reviews">
					  <span class="gravatar-table"><%= image_tag avatar_url(user) %>
					  <h2><%= link_to user.name, user_pins_path(user.name) %></h2></span>
					</div>
				<% end %>
			</table>
		</div>
		<div class="center">
		  <%= will_paginate @users, renderer: BootstrapPagination::Rails %>
		</div>
	</div>
</div>

<hr class="featurette-divider">