<center>
	<h1 class="user-table-title">All Users</h1>
	<table class="table-users">
		<% @users.each do |user| %>
		  <tr>
		  	<td class="gravatar-table"><%= image_tag avatar_url(user) %></td>
		  	<td><h2><%= link_to user.name, user_pins_path(user) %></h2></td>
		  </tr>
		<% end %>
	</table>
</center>