  
<center>
  <section>
    <h1 class="follow-show"><%= @title %></h1>                               
  </section>
  <table class="table-users">
    <% @users.each do |user| %>
      <tr>
        <td class="gravatar-table"><%= image_tag avatar_url(user) %></td>
        <td><h2><%= render (user) %></h2></td>
      </tr>
    <% end %>
  </table>
</center>


