<div class="jumbotron center">
	<h1>WEBrip Video</h1>

	<h2>Is the best links to all the best video downloads and streaming available online</h2>
	<p>
		<%= link_to "Log in", new_user_session_path, class: "btn btn-danger btn-small" %>
		<%= link_to "Sign up", new_user_registration_path, class: "btn btn-success btn-small" %>
	</p>

	<h2>New Upcoming Movies 2015 - 11 Offical Trailers HD</h2>

        <iframe width="100%" height="480" src="http://www.youtube.com/embed/BaGmXiN1PQ8" frameborder="1"></iframe>
</div>