<!-- Marketing messaging and featurettes
================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->

<div class="container marketing">

  <!-- START THE FEATURETTES -->

  <hr class="featurette-divider">

  <div class="featurette">
    <img class="featurette-image img-thumbnail pull-right" src="http://g2g.fm/uploads/full/Wild-Card-G2G.FM.jpg">
    <h2 class="featurette-heading">How to ? <span class="text-muted">Download a Video.</span></h2>
    <p class="lead">Start downloading all your favorite movies tonight for free ! It's easy, browse through the videos on the all pins page (Home) find something you like ? Click the video, press the download link and go make the pop-corn !.</p>
  </div>

  <hr class="featurette-divider">

  <div class="featurette">
    <img class="featurette-image img-thumbnail pull-left" src="http://g2g.fm/uploads/full/Big-Hero-6-G2G.FM.jpg">
    <h2 class="featurette-heading">Streaming. <span class="text-muted">Video...</span></h2>
    <p class="lead">To stream a video locate the navigation bar <i> top </i> go to Categories/steaming and browse the videos on our streaming pins page find something you like ? Click the video, press the stream link and follow the video link provider instruction.</p>
  </div>

  <hr class="featurette-divider">

  <div class="featurette">
    <img class="featurette-image img-thumbnail pull-right" src="http://g2g.fm/uploads/full/Arrow-S03-G2G.FM.jpg">
    <h2 class="featurette-heading">How to ? <span class="text-muted">Join our Team.</span></h2>
    <p class="lead">Joining WEBrip Video is easy and costs nothing. Setting up an account gives you the ability to upload your video cover-images and provide a link, plus give it a description and title. Its is super easy and very handy if you run a movie site and will drive traffic a 180 back to yours ! But you don't have to run a website to sign up everybody is welcome. Do it now it's free, confidential, and we never ask for credit card details.</p>
  </div>

  <hr class="featurette-divider">
</div><!-- /.container -->
<!-- FOOTER -->


