

<div class="row">
	<div class="panel panel-default">
    <div class="panel-heading">
      <div class="panel-title player">
         <h3>facebook Embed</h3>
      </div>
    </div>
    <a name="Media-Player"></a>
    <div class="panel-body">
      <div class="embed-responsive embed-responsive-16by9">
        <div id="fb-root"></div><script>(function(d, s, id) {  var js, fjs = d.getElementsByTagName(s)[0];  if (d.getElementById(id)) return;  js = d.createElement(s); js.id = id;  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.3";  fjs.parentNode.insertBefore(js, fjs);}(document, 'script', 'facebook-jssdk'));</script><div class="fb-post" data-href="https://www.facebook.com/permalink.php?story_fbid=1619509154989084&amp;id=1447208805552454" data-width="500"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/permalink.php?story_fbid=1619509154989084&amp;id=1447208805552454">Posted by <a href="https://www.facebook.com/pages/NZF-Singles/1447208805552454">NZF Singles</a> on&nbsp;<a href="https://www.facebook.com/permalink.php?story_fbid=1619509154989084&amp;id=1447208805552454">Sunday, August 30, 2015</a></blockquote></div></div>   
      </div>
    </div>
    <div class="panel-footer">
      <p class="pull-right"><a href="#"></a></p>
      <p><a> <%= link_to image_tag("youtube-icon.png", alt: "Youtube movies"), 'https://www.youtube.com/channel/UCAJ2KpG4wVeLbrJk4fAkI1Q' %></a>  <i class="fa fa-hand-o-left"> Click Me ! i'm a link to the Youtube movie channel.</i></p>
    </div>
  </div>
</div>

<div id="fb-root"></div><script>(function(d, s, id) {  var js, fjs = d.getElementsByTagName(s)[0];  if (d.getElementById(id)) return;  js = d.createElement(s); js.id = id;  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.3";  fjs.parentNode.insertBefore(js, fjs);}(document, 'script', 'facebook-jssdk'));</script><div class="fb-video" data-allowfullscreen="1" data-href="/OfficialBradpittAngelinaJolie/videos/vb.600472110032820/992922517454442/?type=1"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/OfficialBradpittAngelinaJolie/videos/992922517454442/"><a href="https://www.facebook.com/OfficialBradpittAngelinaJolie/videos/992922517454442/">Top 10 Angelina Jolie Movies | HD</a><p></p>Posted by <a href="https://www.facebook.com/OfficialBradpittAngelinaJolie">Brad Pitt &amp; Angelina Jolie</a> on Wednesday, September 2, 2015</blockquote></div></div>


<div id="fb-root"></div><script>(function(d, s, id) {  var js, fjs = d.getElementsByTagName(s)[0];  if (d.getElementById(id)) return;  js = d.createElement(s); js.id = id;  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.3";  fjs.parentNode.insertBefore(js, fjs);}(document, 'script', 'facebook-jssdk'));</script><div class="fb-post" data-href="https://www.facebook.com/OfficialBradpittAngelinaJolie/videos/992922517454442/" data-width="500"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/OfficialBradpittAngelinaJolie/videos/992922517454442/">Posted by <a href="https://www.facebook.com/OfficialBradpittAngelinaJolie">Brad Pitt &amp; Angelina Jolie</a> on&nbsp;<a href="https://www.facebook.com/OfficialBradpittAngelinaJolie/videos/992922517454442/">Wednesday, September 2, 2015</a></blockquote></div></div>

 <iframe class="embed-responsive-item" href="https://r6---sn-ntqe7n76.c.docs.google.com/videoplayback?requiressl=yes&id=1d51a02b32807d4b&itag=18&source=webdrive&app=docs&ip=222.153.59.116&ipbits=0&expire=1441399883&sparams=requiressl,id,itag,source,ip,ipbits,expire&signature=64A4218D38DE5E0D78BF95FDE3253BE4B905C21C.6CE07547346D2A90D3AFBAFBE5D92114538B6D4D&key=ck2&mm=30&mn=sn-ntqe7n76&ms=nxu&mt=1441396176&mv=m&nh=IgpwcjAxLnN5ZDA5KgkxMjcuMC4wLjE&pl=21&cpn=uYiQ_GbedfnPeult&c=WEB&cver=html5" allowfullscreen></iframe>