<% provide(:title, "thank you") %>

<div class="jumbotron center panel form green audioButton">
  <h2> We should be in touch within 24 hours...</h2>
  <p>
    <%= link_to "all pins", root_path, class: "btn btn-info" %>
    <%= link_to "create a pin ?", new_pin_path, class: "btn btn-info" %>
    <button type="button" class="btn btn-info" data-toggle="offcanvas" data-target="#myNavmenu" data-canvas="body">
      <i class="fa fa-toggle-on"></i>
    </button>
  </p>
</div> 