<% provide(:title, "contact") %>


<div class="audioForm">
  <div id="primary-content">
    <div class="panel form audioButton">
      <div class="panel-heading center">
        <h1 class="green">Send us a message</h1>
      </div>

      <div class="panel-body">
        <%= render 'form' %>
      </div>

      <div class="panel-footer">
        <h5>Complete all fields above and click Send message.</h5>
      </div>
    </div>
  </div>
</div>
<!-- FOOTER -->

