// Place all the styles related to the Reviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.review_title {
  margin: 0 0 20px 0;
}
.reviews {
  padding: 15px 0;
  border-bottom: 1px solid rgba(234, 234, 234, 0.1);
  .star-rating {
    padding-bottom: 8px;
  }
}