<div class="panel review form">
	<div class="panel-heading center green">
		<h1>New review</h1>
	</div>
</div>
<%= render 'form' %> 

<div class="panel-footer">
	<%= link_to 'Back', pin_path(@pin) %>
</div>